@charset "UTF-8";
/*SE APLICO SENCILLAMENTE 'MAPS' SOLO SOBRE EL FOOTER HTML COMO PRUEBA A EVALUAR*/
.class--color-text-footer {
  color: white;
}

.class--color-text-footer {
  font-size: 20px;
}

/*REFERENCIA GOOGLE MAPS*/
/*H1 Y H2*/
/*IMAGENES 'QUIENES SOMOS'*/
/*IMAGENES EN 'SECTION' DENTRO DE LOS DISTINTOS HTML*/
/*BREAKPOINTS 'MEDIA QUERIES*/
/*IMAGENES 'MEDIOS DE PAGO'*/
.cashImages {
  border-radius: 15%;
  width: 300px;
  height: auto;
  padding: 50px;
  margin: 25px;
}

/*ESTILOS 'INDEX' & 'CONTACTOS' SOCIAL MEDIA*/
.letterSocialMedia {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  padding-left: 15px;
  letter-spacing: 2px;
  text-decoration: none;
}

.socialMediaStyle {
  display: flex;
  margin: 15px;
  padding: 15px;
}

.classMediaImage {
  display: flex;
  align-content: center;
  margin: 15px;
  padding: 15px;
}

/*IMAGENES 'NUESTROS PRODUCTOS'*/
.classImagesSalmueras, .classImagnesAderezos, .classImageEscabeche {
  display: flex;
  justify-content: space-evenly;
  margin: 75px;
  padding: 75px;
}

/*Seleccion universal con asterisco*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*INICIO MENU DE NAVEGACION -ESTILOS GENERALES- */
nav ul {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav li {
  line-height: 3rem;
  position: relative;
}

.navMenu ul {
  position: absolute;
}

nav a {
  color: #eeeeee;
  display: block;
  padding: 0 2.5em;
  text-decoration: none;
  transition: .4s;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

/*PRIMER NIVEL MENU DESPLEGABLE*/
.navMenu {
  background: linear-gradient(90deg, #146363 0%, rgba(20, 99, 99, 0.742735) 47%, rgba(20, 99, 99, 0.55506) 100%);
  display: table;
  width: 100%;
  height: 200px;
}

.navMenu > li {
  float: left;
}

.navMenu:ul {
  position: absolute;
}

/*SEGUNDO NIVEL MENU DESPLEGABLE*/
nav li li {
  background: linear-gradient(90deg, #146363 0%, rgba(20, 99, 99, 0.742735) 47%, rgba(20, 99, 99, 0.55506) 100%);
  max-height: 0;
  overflow: hidden;
  transition: all .5s;
  width: 200px;
}

nav li:hover > ul > li {
  max-height: 500px;
  overflow: visible;
}

.navMenu > li > ul {
  top: 100%;
}

/*TERCER NIVEL MENU DESPLEGABLE*/
.navMenu ul ul {
  left: 100%;
  top: 0;
}

/*FIN MENU DE NAVEGACION*/
/*COMIENZA SECCION IDs*/
/*COLOR DE FONDO PARA LOS HTML*/
#backgroundWeb {
  background-color: beige;
  width: 100%;
  height: 100%;
}

/*LOGO EMPRESA*/
#logoCompany {
  border-radius: 15px;
  height: 250px;
  width: 250px;
  text-align: center;
}

#flexLogoCompany {
  display: flex;
  justify-content: center;
  margin: 75px;
  padding: 75px;
}

/*PIE DE PAGINA -FOOTER-*/
.footer-dark {
  height: 450px;
  padding-top: 15px;
  color: #000000;
  background: linear-gradient(90deg, #146363 0%, rgba(20, 99, 99, 0.742735) 47%, rgba(20, 99, 99, 0.55506) 100%);
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 0;
}

.footer-dark ul a {
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

.footer-dark .item .text {
  margin-bottom: 36px;
}

.footer-dark .item .text p {
  opacity: 0.6;
  margin-bottom: 0;
  color: #ffffff;
}

.footer-dark .item .social {
  text-align: center;
  margin-top: 75px;
}

.footer-dark .item .social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 18px;
  margin-bottom: 0;
}

.classImgFooter {
  width: 25px;
}

.classImgFooter-Icons {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

.row img {
  margin-top: 75px;
}

/*BORDES DE LAS TABLAS EN HTML 'NUESTROS PRODUCTOS' Y HTML 'CONTACTO'*/
#borderTables {
  border-top: solid 5px #e77f08;
  border-right: solid 10px #e77f08;
  border-bottom: solid 7px #e77f08;
  border-left: solid 12px #e77f08;
}

/*SECCIONES -SECTIONS- DE LOS HTML*/
/*SECTION 1 AL 3 CORRESPONDEN HTML INDEX*/
#imgSection1 {
  background-image: url(../images/imagen_secciones/business-text-calendar-min.png);
  background-size: 10%;
  margin-right: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

#imgSection2 {
  background-image: url(../images/imagen_secciones/social-media-web-design-min.png);
  background-size: 15%;
  margin-right: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

/*SECTION 3 HTML 'NUESTROS PRODUCTOS' CON INDEX*/
#imgSection3 {
  background-image: url(../images/imagen_secciones/imagen_condimentos-min.png);
  background-size: 20%;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

/*SECTION 5 AL 7 CORRESPONDE HTML 'HISTORIA DE A GUSTO TUYO'*/
#imgSection5 {
  background-image: url(../images/imagen_secciones/imagen_historia-min.png);
  background-size: 25%;
  margin-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-x: center;
}

#imgSection6 {
  background-image: url(../images/imagen_secciones/imagen_mapa-min.png);
  background-size: 20%;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

#imgSection7 {
  background-image: url(../images/imagen_secciones/imagen_video-min.png);
  background-size: 25%;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

/*SECTION 8 CORRESPONDE HTML 'MEDIOS DE PAGO'*/
#imgSection8 {
  background-image: url(../images/imagen_secciones/medios_de_pago-min.png);
  background-size: 25%;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

/*SECTION 9 CORRESPONDE HTML 'CONTACTO'*/
#imgSection9 {
  background-image: url(../images/imagen_secciones/imagen_contactos-min.png);
  background-size: 15%;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position: center;
}

/*FIN SECCIONES (SECTIONS) HTML*/
/*FIN SECCION IDs*/
/*COMIENZO DE LAS CLASES HTML*/
.classCards {
  display: flex;
  justify-content: space-between;
}

.classCardSpecials > img {
  width: 105px;
  height: auto;
}

.card {
  align-self: center;
  align-items: center;
  background-color: white !important;
  margin: 75px;
  padding: 75px;
}

.card-text {
  margin: 1rem;
}

.card-title {
  margin: 1rem;
}

.card-title-header {
  color: black;
}

.card-group {
  margin-bottom: 50px;
}

.cardTransfBankInfo {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 18px;
  color: #383636;
  font-weight: 400;
  text-align: center;
  background: #cfbe88;
  margin: 0 0 25px;
  overflow: hidden;
  margin-top: 15px;
}

.imgCarousel {
  justify-content: center;
  width: 200px !important;
}

/*HTML 'NUESTROS PRODUCTOS'*/
.carousel-control-prev-icon {
  position: relative;
  right: 50px;
}

.carousel-control-next-icon {
  position: relative;
  left: 50px;
}

/*FIN HTML 'NUESTROS PRODUCTOS*/
/*PRODUCTOS DESTACADOS HTML -INDEX-*/
.classFeaturedProducts {
  display: flex;
  align-items: center;
  margin-right: 100px;
  justify-content: space-evenly;
  margin: 75px;
}

/*INICIO CALENDARIO CON GRID HTML -INDEX-*/
.classCalendar {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  width: 500px;
  margin: 0 auto;
}

.classStartDay {
  grid-column: 5;
}

.classOrderList > li {
  text-align: right;
}

.classWeekday {
  background: #146363;
  text-align: center;
  color: white;
}

.classOffDay {
  background: #3a9377;
  background-repeat: no-repeat;
  color: white;
}

.classOffDayReference {
  background: linear-gradient(90deg, #f7f7f7 0%, #3094ac 57%, white 100%);
  background-repeat: no-repeat;
  background-size: auto;
  color: darkgreen;
  margin: 5px;
}

.classClosed {
  background: #423c3c;
  font-style: italic;
  color: white;
  display: flex;
  justify-content: center;
}

.classClosedReference {
  background: linear-gradient(90deg, #f7f7f7 0%, #222e30 57%, white 100%);
  background-repeat: no-repeat;
  background-size: auto;
  font-style: italic;
  color: darkred;
  margin: 5px;
}

.classStyleReferences {
  width: 400px;
}

.classCalendarMonthTitle {
  text-align: center;
  margin-bottom: 2rem;
  margin: 75px;
  color: olive;
  font-size: 30px;
}

.classTitleReferences {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: olive;
  margin-top: 15px;
}

/*FIN CALENDARIO CON GRID HTML -INDEX-*/
/*HTML CONTACTO*/
#exampleFormControlTextarea1 {
  height: 250px;
}

.container {
  margin-bottom: 100px;
  margin-top: 100px;
}

.input-group {
  margin-top: 15px;
}

.mb-3 {
  padding-top: 5px;
}

/*INICIO TRANSFORMACIONES*/
/*APLICADO A SOCIAL MEDIA*/
.transformLogosSocialMedia:hover {
  border: 2px solid black;
  transform: translate(3px, 2px);
  transition: all 0.5s;
}

.transformInstagramNameColor:hover {
  color: #c92222;
}

.transformFacebookNameColor:hover {
  color: #e2e2e2;
}

.transformWhatsappNameColor:hover {
  color: #0bad13;
}

/*APLICADO A IMAGENES PRODUCTOS*/
.transformProductsImg:hover {
  transform: rotate(45deg);
}

/*APLICADO REFERENCIA CALENDARIO*/
.transformRefCalendar:hover {
  transform: scale(1.2, 1.2);
}

/*APLICANDO INPUT FOCUS DENTRO DE LA TABLA CONTACTOS*/
input:focus {
  width: 200px;
  font-size: 20px;
}

/*FIN TRANSFORMACIONES*/
/*INICIO ANIMACIONES*/
.animationTitles {
  animation-duration: 5s;
  animation-name: animationTitles;
}

@keyframes animationTitles {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animationPopUp {
  animation-duration: 2s;
  animation-name: animationPopUp;
}

@keyframes animationPopUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*FIN ANIMACIONES*/
/*IMAGENES HTML -MEDIOS DE PAGO-*/
/*IMAGEN LUGARES HTML -HISTORIA A GUSTO TUYO-*/
.imageCorp {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: repeat(4, 200px);
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  border: solid 2px #e77f08;
  margin-bottom: 150px;
  padding: 15px;
}

.classParagraphHistory {
  margin-top: 100px;
  margin-bottom: 75px;
  padding: 10px;
}

/*LETRAS SOCIAL MEDIA HTML -INDEX Y CONTACTO-*/
/*PQUEÑO ESTILO PARA SOCIAL MEDIA HTML -INDEX Y CONTACTO-*/
.classMediaCenter {
  justify-content: center;
}

/*API GOOGLE TRANSLATE*/
body {
  top: 0 !important;
}

body .goog-te-banner-frame {
  display: none;
}

body .goog-te-gadget-icon {
  display: none;
}

body .goog-te-menu-value img {
  display: none;
}

body .goog-te-gadget-simple {
  background-color: #14636300;
  border: none;
  font-size: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
}

body .goog-te-gadget-simple .goog-te-menu-value {
  color: #ffffff;
}

/*MAPA EN HTML -CONTACTO Y A GUSTO TUYO HISTORIA-*/
.googleMapsStype {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 15px;
}

.classReferenceGoogleMaps {
  margin: 15px;
  font-size: 20px;
}

/*VIDE EN HTML -HISTORIA A GUSTO TUYO-*/
.videoStyle {
  margin: 15px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 15px;
}

/*PEQUEÑO ESTILO PARA HTML -MEDIOS DE PAGO-*/
.paymentStyles {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.termsCenter {
  justify-content: center;
}

/*FIN DE LAS CLASES EN LOS HTML*/
/*HTML -CONTACTO-*/
.paragraphClass {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: black;
  font-size: 1.5em;
}

/*INICIO ETIQUETAS EN LOS HTML*/
body {
  top: 0 !important;
}

h1 {
  position: relative;
  text-align: center;
  color: #3b3b3b;
  list-style: none;
  font-family: 'Yomogi', cursive;
  font-size: 25px;
}

h1::after, h1::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: #146363;
  top: 0.6em;
}

h1::before {
  left: 350px;
}

h1::after {
  right: 350px;
}

h2 {
  position: relative;
  text-align: center;
  color: #3b3b3b;
  list-style: none;
  font-family: 'Yomogi', cursive;
  font-size: 25px;
}

h2::after, h2::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: #146363;
  top: 0.6em;
}

h2::before {
  left: 350px;
}

h2::after {
  right: 350px;
}

h3 {
  color: #ffd000;
  letter-spacing: 3px;
  font-size: 30px;
  margin: 15px;
  padding: 15px;
}

h4 {
  font-family: 'Courier New', Courier, monospace;
  color: crimson;
  padding: 5px;
  margin: 5px;
}

h5 {
  color: grey;
  font-size: 15px;
}

div ul li a {
  color: ivory;
  font-family: "Brush Script MT", cursive;
  text-decoration: none;
}

img {
  border-radius: 15px;
  width: 100px;
  height: auto;
}

th {
  font-family: 'Rock Salt', cursive;
  letter-spacing: 2px;
}

tr td {
  padding-left: 50px;
  font-family: sans-serif;
}

ul li {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

/*FIN ETIQUETAS*/
/*EDICION MODAL EN CALENDARIO*/
.greenBottonStyle {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #2f7920;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*APLICACION DE BREADCRUMB*/
.breadcrumb-item {
  margin-left: 3px;
}

.classColorHome {
  color: darkcyan;
}

/*APLICANDO BEM*/
/*BEM HTML 'HISTORIA_DE_AGUSTOTUYO'*/
.classParagraphHistory__h4 {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: #131212;
  font-size: 18px;
  text-align: center;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #f58f09;
}

.imageCorp__img {
  display: flex;
  justify-self: center;
  border: solid 2px #e77f08;
  transition: all 1s;
}

.imageCorp__img:hover {
  transform: scale(2);
}

.classReferenceGoogleMaps_style {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: #000000;
  font-size: 20px;
  text-align: center;
  margin: 0 0 25px;
  margin-bottom: 100px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #c78938;
}

.videoStyle__modified {
  display: flex;
  justify-content: center;
}

/*BEM HTML 'CONTACTO'*/
.container__cards {
  padding: 15px;
  margin: 15px;
}

/*BEM HTML 'MEDIOS DE PAGO'*/
.paymentStyles__center {
  align-self: center;
  color: lime;
}

/*BEM HTML 'NUESTROS PRODUCTOS'*/
.card-body__textColor {
  color: #000000;
  margin: 1rem;
}

/*ERROR 404 ESTILO*/
.bg-404 {
  position: fixed;
  width: 100%;
  height: 100%;
}

.bg-404-icon {
  position: fixed;
  margin: 25px;
}

.bg-404-text {
  color: #146363;
  font-style: italic;
  position: fixed;
  font-size: 35px;
  margin-top: 200px;
  margin-left: 50px;
}

.bg-404-button {
  background-color: #146363 !important;
  position: fixed;
  margin-top: 50px;
  margin-left: 150px;
}

.bg-404-error > img {
  width: 300px;
  height: 300px;
  margin-left: 95rem;
}

/*BREAKPOINTS*/
@media screen and (max-width: 1024px) {
  h1::before {
    left: 10px;
  }
  h1::after {
    right: 10px;
  }
  h2::before {
    left: 10px;
  }
  h2::after {
    right: 10px;
  }
  nav a {
    padding: 0 1rem;
  }
  h3 {
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 768px) {
  h1::before {
    left: 10px;
    width: 50px;
  }
  h1::after {
    left: 710px;
    width: 50px;
  }
  h2::before {
    left: 10px;
  }
  h2::after {
    right: 10px;
  }
  nav a {
    padding: 0 0.5rem;
  }
  .footer-dark .copyright {
    padding-top: 15px;
  }
}

@media screen and (max-width: 480px) {
  ul.navMenu {
    width: 480px;
  }
}
