@charset "UTF-8";
/*SE APLICO SENCILLAMENTE 'MAPS' SOLO SOBRE EL FOOTER HTML COMO PRUEBA A EVALUAR*/
.class--color-text-footer {
  color: white;
}

.class--color-text-footer {
  font-size: 20px;
}

/*REFERENCIA GOOGLE MAPS*/
/*H1 Y H2*/
/*IMAGENES 'QUIENES SOMOS'*/
/*IMAGENES EN 'SECTION' DENTRO DE LOS DISTINTOS HTML*/
/*IMAGENES 'MEDIOS DE PAGO'*/
.cashImages {
  border-radius: 15%;
  width: 300px;
  height: auto;
  padding: 50px;
  margin: 25px;
}

/*ESTILOS 'INDEX' & 'CONTACTOS' SOCIAL MEDIA*/
.letterSocialMedia {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  padding-left: 15px;
  letter-spacing: 2px;
  text-decoration: none;
}

.socialMediaStyle {
  display: flex;
  margin: 15px;
  padding: 15px;
}

.classMediaImage {
  display: flex;
  align-content: center;
  margin: 15px;
  padding: 15px;
}

/*IMAGENES 'NUESTROS PRODUCTOS'*/
.classImagesSalmueras, .classImagesAderezos, .classImageEscabeche {
  display: flex;
  justify-content: space-evenly;
  margin: 75px;
  padding: 75px;
}

/*
BREAKPOINTS PRINCIPALES:

1. 1440px
2. 1024px
3. 768px
4. 425px
5. 375px
6. 320px

*/
/*MEDIA QUERY MIN-WIDTH 1581px*/
@media screen and (min-width: 1581px) {
  .googleMapsStype {
    display: flex;
    justify-content: center;
    width: 600px;
    max-width: 100%;
    margin-left: 22%;
  }
  #imgSection7 {
    background-position-y: 70% !important;
  }
}

/*MEDIA QUERY MAX-WIDTH 1580px*/
@media screen and (max-width: 1580px) {
  nav ul li a {
    font-size: .8em;
  }
  h1::before, h1::after {
    display: none;
  }
  h2::before, h2::after {
    display: none;
  }
  #imgSection2 {
    background-position-y: 220px !important;
  }
  #imgSection3 {
    background-position-y: 200px !important;
  }
  #imgSection5 {
    background-position-y: 700px !important;
  }
  #imgSection6 {
    background-position-y: 300px !important;
  }
  #imgSection7 {
    background-position-y: 250px !important;
  }
  .googleMapsStype {
    margin-left: 0.5%;
  }
}

/*MEDIA QUERY MIN-WIDTH 1440px AND MAX-WIDTH 1579*/
@media screen and (min-width: 1440px) and (max-width: 1579px) {
  .googleMapsStype {
    display: flex;
    justify-content: center;
    width: 600px;
    max-width: 100%;
    margin-left: 22%;
  }
}

/*MEDIA QUERY MIN-WIDTH 1366px AND MAX-WIDTH 1439px*/
@media screen and (min-width: 1366px) and (max-width: 1439px) {
  .googleMapsStype {
    display: flex;
    justify-content: center;
    width: 600px;
    max-width: 100%;
    margin-left: 22%;
  }
}

/*MEDIA QUERY MIN-WIDTH 1280px*/
@media screen and (min-width: 1280px) {
  nav input {
    display: none;
  }
  nav > span {
    display: none;
  }
}

/*MEDIA QUERY MAX-WIDTH 1280px*/
@media screen and (max-width: 1280px) {
  header nav input {
    display: block;
    opacity: 0;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 25px;
    left: 40px;
    cursor: pointer;
    z-index: 2;
    /* and place it over the hamburger */
  }
  header nav input:checked ~ .navMenu {
    display: flex;
  }
  header nav input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  header nav input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  header nav input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  header nav input:checked ~ ul {
    transform: none;
  }
  header nav .hamb-line {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    margin-left: 20px;
    background: #232323;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  header nav .hamb-line:first-child {
    transform-origin: 0% 0%;
  }
  header nav .hamb-line:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  header nav .navMenu {
    display: none;
    flex-direction: column;
  }
  header nav .navMenu > li {
    width: 100%;
    justify-content: flex-start;
  }
  header nav .navMenu > li a {
    width: 100%;
  }
  header nav .navMenu > li ul {
    position: unset;
    width: auto;
  }
  header nav .navMenu > li ul li:hover ul {
    display: none;
  }
  header nav .navMenu div {
    width: 100%;
  }
}

/*MEDIA QUERY MIN-WIDTH 1200px*/
@media screen and (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem !important;
  }
}

/*MEDIA QUERY MAX-WIDTH 1024px*/
@media screen and (max-width: 1024px) {
  #imgSection5 {
    background-position-y: 750px !important;
  }
  #imgSection7 {
    background-position-x: 800px !important;
    background-position-y: 300px !important;
  }
  .videoStyle__modified > video {
    width: 600px;
    max-width: 100%;
    margin-right: 7%;
  }
  #imgSection2 {
    background-position-y: 250px !important;
  }
  #imgSection3 {
    background-position-y: 200px !important;
  }
  .row > .item {
    width: 300px;
    max-width: 100%;
  }
}

/*MEDIA QUERY MAX-WIDTH 768px*/
@media screen and (max-width: 768px) {
  #imgSection2 {
    background-position-y: 270px !important;
  }
  #imgSection5 {
    background-position-y: 810px !important;
  }
  #imgSection6 {
    background-position-x: 620px !important;
  }
  #imgSection7 {
    background-position-y: 300px !important;
    background-position-x: 600px !important;
  }
  #imgSection8 {
    background-position-y: 720px !important;
  }
  #imgSection9 {
    background-position-x: 600px !important;
    background-position-y: 690px !important;
  }
  .videoStyle__modified > video {
    width: 500px;
    max-width: 100%;
    margin-right: 7%;
  }
  .paragraphClass {
    margin-left: 3%;
  }
  .row > .item {
    width: 400px;
    max-width: 100%;
  }
  .paymentStyles {
    margin-left: 175px;
  }
  .paymentStyles__center {
    width: 200px;
    max-width: 100%;
  }
  .position {
    margin-right: 170px !important;
  }
}

/*MEDIA QUERY MAX-WIDTH 480px*/
@media screen and (max-width: 480px) {
  h3 {
    display: none;
  }
  header nav .navMenu div {
    display: none;
  }
  h1, h2 {
    margin-left: 20%;
  }
  .imageCorp {
    display: flex !important;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 5%;
    border: none !important;
  }
  .imageCorp .imageCorp__img {
    width: 200px;
    display: flex;
    justify-content: center;
    height: 130px;
  }
  .imageCorp .imageCorp__img > img {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .googleMapsStype {
    display: flex;
    justify-content: center;
    width: 200px;
    max-width: 100%;
    margin-left: 22%;
  }
  .videoStyle video {
    width: 300px;
    max-width: 100%;
    margin-left: 10%;
  }
  #imgSection1, #imgSection2, #imgSection3, #imgSection5, #imgSection6, #imgSection7, #imgSection8, #imgSection9 {
    background-image: none !important;
  }
  #logoCompany {
    max-width: 100%;
  }
  #flexLogoCompany {
    margin: 0px !important;
  }
  .classCalendar {
    width: 500px;
    max-width: 100%;
  }
  .referenciaCalendario {
    margin: 0px;
    padding: 0px;
  }
  .classImagesSalmueras, .classImageEscabeche {
    display: flex;
    margin: 5%;
    align-content: center;
    justify-content: center;
  }
  .classImagesAderezos > .transformProductsImg {
    width: 100px;
    max-width: 100%;
    display: flex;
    padding-block: 1%;
  }
  .paymentStyles__center {
    display: none;
  }
  .classCards {
    justify-content: center !important;
  }
  .paragraphClass {
    display: none !important;
  }
  .animationTitles {
    margin-right: 20%;
  }
  .classFeaturedProducts {
    display: block !important;
    padding-left: 15%;
  }
  .classFeaturedProducts .transformProductsImg {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .body-bg-404 .bg-404-text > p {
    width: 250px;
    font-size: 70%;
  }
  .bg-404 {
    height: 50% !important;
    margin-top: 5%;
  }
  .classStyleReferences {
    width: 400px;
    max-width: 100%;
    margin-left: 9%;
  }
  .breadcrumb {
    width: 400px;
    max-width: 100%;
  }
  .classMediaImage > img {
    width: 50px;
    height: 50px;
    max-width: 100%;
    margin-top: 11%;
  }
  .sizeCashImages {
    width: 100px;
    max-width: 100%;
    margin-right: 400px;
  }
  .classParagraphHistory {
    margin-left: 3%;
  }
}

/*MEDIA QUERY MIN-WIDTH 425px AND MAX-WIDTH 479px*/
@media screen and (min-width: 425px) and (max-width: 479px) {
  .classFeaturedProducts {
    display: flex !important;
    padding-right: 15%;
  }
  .classParagraphHistory {
    margin-left: 5%;
  }
  .classReferenceGoogleMaps > .classReferenceGoogleMaps_style {
    margin-left: 3%;
  }
}

/*MEDIA QUERY MIN-WIDTH: 320px AND MAX-WIDTH: 374px*/
@media screen and (min-width: 320px) and (max-width: 374px) {
  .classImagesSalmueras, .classImagesAderezos, .classImageEscabeche {
    margin-top: 5%;
    padding: 5%;
  }
  .classImagesAderezos > .transformProductsImg {
    width: 75px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .carousel.item > active {
    padding-top: 0%;
    margin-top: 0%;
  }
  .googleMapsStype {
    width: 100px;
    max-width: 100%;
    margin-left: 35%;
  }
  .videoStyle video {
    margin-left: 15%;
  }
  .sizeCashImages {
    width: 100px;
    max-width: 100%;
    margin-right: 170px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .sizeCashImages .cashImages {
    padding: 15px;
    width: 200px;
  }
}

/*Seleccion universal con asterisco*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*BODY DARK MODE*/
body.dark {
  background: #000 !important;
  transition: .3s ease all;
  /*COLOR CONTENIDO CALENDARIO*/
}

body.dark h1, body.dark h2 {
  color: peru;
}

body.dark .classOrderList > li {
  color: ivory;
}

/*INICIO MENU DE NAVEGACION -ESTILOS GENERALES- */
header {
  background: linear-gradient(90deg, #146363 0%, rgba(20, 99, 99, 0.742735) 47%, rgba(20, 99, 99, 0.55506) 100%);
  padding: 2rem;
}

header nav ul {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header nav ul li {
  line-height: 2rem;
  position: relative;
}

header nav ul li a {
  color: #eeeeee;
  display: block;
  padding: 0 1.5em;
  text-decoration: none;
  transition: .4s;
}

header nav ul li a:hover {
  color: #ffd000;
  background: rgba(0, 0, 0, 0.5);
}

header nav ul div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 .5rem;
}

.navMenu {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navMenu:ul {
  position: absolute;
}

.navMenu ul {
  z-index: 10;
  position: absolute;
}

.navMenu ul li a {
  width: 100%;
}

/*PRIMER NIVEL MENU DESPLEGABLE*/
/*SEGUNDO NIVEL MENU DESPLEGABLE*/
nav li li {
  background: linear-gradient(90deg, #146363 0%, rgba(20, 99, 99, 0.742735) 47%, rgba(20, 99, 99, 0.55506) 100%);
  max-height: 0;
  overflow: hidden;
  transition: all .5s;
}

nav li:hover > ul > li {
  max-height: 500px;
  overflow: visible;
}

.navMenu > li > ul {
  top: 100%;
  width: 100%;
}

/*TERCER NIVEL MENU DESPLEGABLE*/
.navMenu ul ul {
  left: 100%;
  top: 0;
}

/*FIN MENU DE NAVEGACION*/
/*COMIENZA SECCION IDs*/
/*COLOR DE FONDO PARA LOS HTML*/
#backgroundWeb {
  background-color: beige;
  width: 100%;
  height: 100%;
}

/*LOGO EMPRESA*/
#logoCompany {
  border-radius: 15px;
  width: 250px;
  text-align: center;
}

#flexLogoCompany {
  display: flex;
  justify-content: center;
  margin: 75px;
  padding: 75px;
}

/*PIE DE PAGINA -FOOTER-*/
.footer-dark {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #000000;
  background: linear-gradient(90deg, #146363 0%, rgba(20, 99, 99, 0.742735) 47%, rgba(20, 99, 99, 0.55506) 100%);
}

.footer-dark h3 {
  color: tan;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 0;
}

.footer-dark ul a {
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

.footer-dark .item .text {
  margin-bottom: 36px;
}

.footer-dark .item .text p {
  opacity: 0.6;
  margin-bottom: 0;
  color: #ffffff;
}

.footer-dark .item .social {
  text-align: center;
  margin-top: 75px;
}

.footer-dark .item .social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 18px;
  margin-bottom: 0;
}

body.dark .footer-dark {
  color: #ffffff;
}

.classImgFooter {
  width: 25px;
}

.classImgFooter-Icons {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

.row img {
  margin-top: 75px;
}

/*BORDES DE LAS TABLAS EN HTML 'NUESTROS PRODUCTOS' Y HTML 'CONTACTO'*/
#borderTables {
  border-top: solid 5px #e77f08;
  border-right: solid 10px #e77f08;
  border-bottom: solid 7px #e77f08;
  border-left: solid 12px #e77f08;
}

/*SECCIONES -SECTIONS- DE LOS HTML*/
/*SECTION 1 AL 3 CORRESPONDEN HTML INDEX*/
#imgSection1 {
  background-image: url(../images/imagen_secciones/business-text-calendar-min.png);
  background-size: 10%;
  margin-right: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

body.dark #imgSection1 {
  background-image: url(../images/imagen_secciones/image_dark_mode_calendar.jpg);
  background-size: 15%;
  margin-right: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

#imgSection2 {
  background-image: url(../images/imagen_secciones/social-media-web-design-min.png);
  background-size: 12%;
  margin-right: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

body.dark #imgSection2 {
  background-image: url(../images/imagen_secciones/image_dark_mode_like.jpg);
  background-size: 25%;
  margin-right: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
  padding-bottom: 4.5%;
}

/*SECTION 3 HTML 'NUESTROS PRODUCTOS' CON INDEX*/
#imgSection3 {
  background-image: url(../images/imagen_secciones/imagen_condimentos-min.png);
  background-size: 15%;
  margin-right: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

body.dark #imgSection3 {
  background-image: url(../images/imagen_secciones/image_dark_mode_spices.jpg);
  background-size: 15%;
  margin-right: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
  padding-bottom: 3.5%;
}

/*SECTION 5 AL 7 CORRESPONDE HTML 'HISTORIA DE A GUSTO TUYO'*/
#imgSection5 {
  background-image: url(../images/imagen_secciones/imagen_historia-min.png);
  background-size: 25%;
  margin-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-x: center;
  padding-bottom: 5%;
}

body.dark #imgSection5 {
  background-image: url(../images/imagen_secciones/image_dark_mode_historia_vibes.jpg);
  background-size: 25%;
  margin-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position: center;
  padding-bottom: 5%;
}

#imgSection6 {
  background-image: url(../images/imagen_secciones/imagen_mapa-min.png);
  background-size: 20%;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

body.dark #imgSection6 {
  background-image: url(../images/imagen_secciones/image_dark_mode_map.png);
  background-size: 15%;
  margin-right: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
  padding-left: 5%;
  padding-top: 5%;
}

#imgSection7 {
  background-image: url(../images/imagen_secciones/imagen_video-min.png);
  background-size: 25%;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

body.dark #imgSection7 {
  background-image: url(../images/imagen_secciones/image_dark_mode_video.jpg);
  background-size: 25%;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
  padding-bottom: 2%;
}

/*SECTION 8 CORRESPONDE HTML 'MEDIOS DE PAGO'*/
#imgSection8 {
  background-image: url(../images/imagen_secciones/medios_de_pago-min.png);
  background-size: 15%;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

body.dark #imgSection8 {
  background-image: url(../images/imagen_secciones/image_dark_mode_pagos.jpg);
  background-size: 20%;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

/*SECTION 9 CORRESPONDE HTML 'CONTACTO'*/
#imgSection9 {
  background-image: url(../images/imagen_secciones/imagen_contactos-min.png);
  background-size: 15%;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position: center;
}

body.dark #imgSection9 {
  background-image: url(../images/imagen_secciones/image_dark_mode_consultas.jpg);
  background-size: 15%;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position: center;
}

/*FIN SECCIONES (SECTIONS) HTML*/
/*FIN SECCION IDs*/
/*COMIENZO DE LAS CLASES HTML*/
.classCards {
  display: flex;
  justify-content: space-between;
}

body.dark .card-header {
  color: #ffffff;
}

body.dark .border-info .card-text {
  color: antiquewhite;
}

body.dark .paragraphClass {
  color: orange;
}

body.dark .form-label {
  color: #ffffff;
}

body.dark .form-text {
  color: #ffffff;
}

body.dark .form-check-label {
  color: #ffffff;
}

.classCardSpecials > img {
  width: 105px;
  height: auto;
}

.card {
  align-self: center;
  align-items: center;
  background-color: white !important;
  margin: 75px;
  padding: 75px;
}

body.dark .card {
  background-color: #000 !important;
}

.card-text {
  margin: 1rem;
}

.card-title {
  margin: 1rem;
}

.card-title-header {
  color: black;
}

.card-group {
  margin-bottom: 50px;
}

body.dark .card-title {
  color: orange;
}

body.dark .text-muted {
  color: orange !important;
}

.cardTransfBankInfo {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 18px;
  color: #383636;
  font-weight: 400;
  text-align: center;
  background: #cfbe88;
  margin: 0 0 25px;
  overflow: hidden;
  margin-top: 15px;
}

body.dark .cardTransfBankInfo {
  color: #ffffff;
  border-color: orange;
}

.imgCarousel {
  justify-content: center;
  width: 150px !important;
  max-width: 100%;
}

/*HTML 'NUESTROS PRODUCTOS'*/
.carousel-control-prev-icon {
  position: relative;
  right: 50px;
}

.carousel-control-prev-icon.dark {
  background-image: url(../images/imagenes_carousel/chevron-circle-left-solid-black-mode.svg) !important;
}

.carousel-control-next-icon {
  position: relative;
  left: 50px;
}

.carousel-control-next-icon.dark {
  background-image: url(../images/imagenes_carousel/chevron-circle-right-solid-black-mode.svg) !important;
}

/*FIN HTML 'NUESTROS PRODUCTOS*/
/*PRODUCTOS DESTACADOS HTML -INDEX-*/
.classFeaturedProducts {
  display: flex;
  align-items: center;
  margin-right: 100px;
  justify-content: space-evenly;
  margin: 75px;
}

/*INICIO CALENDARIO CON GRID HTML -INDEX-*/
.classCalendar {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  width: 500px;
  margin: 0 auto;
}

.classStartDay {
  grid-column: 5;
}

.classOrderList > li {
  text-align: right;
}

.classWeekday {
  background: #146363;
  text-align: center;
  color: white;
}

.classOffDay {
  background: #3a9377;
  background-repeat: no-repeat;
  color: white;
}

.classOffDayReference {
  background: linear-gradient(90deg, #f7f7f7 0%, #3094ac 57%, white 100%);
  background-repeat: no-repeat;
  background-size: auto;
  color: darkgreen;
  margin: 5px;
}

.classClosed {
  background: #423c3c;
  font-style: italic;
  color: white;
  display: flex;
  justify-content: center;
}

.classClosedReference {
  background: linear-gradient(90deg, #f7f7f7 0%, #222e30 57%, white 100%);
  background-repeat: no-repeat;
  background-size: auto;
  font-style: italic;
  color: darkred;
  margin: 5px;
}

.classStyleReferences {
  width: 400px;
}

.classCalendarMonthTitle {
  text-align: center;
  margin-bottom: 2rem;
  margin: 75px;
  color: olive;
  font-size: 30px;
}

.classTitleReferences {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: olive;
  margin-top: 15px;
}

/*FIN CALENDARIO CON GRID HTML -INDEX-*/
/*HTML CONTACTO*/
#exampleFormControlTextarea1 {
  height: 250px;
}

.container {
  margin-bottom: 100px;
  margin-top: 100px;
}

.input-group {
  margin-top: 15px;
}

.mb-3 {
  padding-top: 5px;
}

/*INICIO TRANSFORMACIONES*/
/*APLICADO A SOCIAL MEDIA*/
.transformLogosSocialMedia:hover {
  border: 2px solid black;
  transform: translate(3px, 2px);
  transition: all 0.5s;
}

.transformInstagramNameColor:hover {
  color: #c92222;
}

.transformFacebookNameColor:hover {
  color: #e2e2e2;
}

.transformWhatsappNameColor:hover {
  color: #0bad13;
}

/*APLICADO A IMAGENES PRODUCTOS*/
.transformProductsImg:hover {
  transform: rotate(45deg);
}

/*APLICADO REFERENCIA CALENDARIO*/
.transformRefCalendar:hover {
  transform: scale(1.2, 1.2);
}

/*APLICANDO INPUT FOCUS DENTRO DE LA TABLA CONTACTOS*/
input:focus {
  width: 200px;
  font-size: 20px;
}

/*FIN TRANSFORMACIONES*/
/*INICIO ANIMACIONES*/
.animationTitles {
  animation-duration: 5s;
  animation-name: animationTitles;
}

@keyframes animationTitles {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animationPopUp {
  animation-duration: 2s;
  animation-name: animationPopUp;
}

@keyframes animationPopUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*FIN ANIMACIONES*/
/*IMAGENES HTML -MEDIOS DE PAGO-*/
/*IMAGEN LUGARES HTML -HISTORIA A GUSTO TUYO-*/
.imageCorp {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: repeat(4, 200px);
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  border: solid 2px #e77f08;
  margin-bottom: 150px;
  padding: 15px;
  margin-left: 15px;
}

.classParagraphHistory {
  margin-top: 100px;
  margin-bottom: 75px;
  padding: 10px;
}

/*LETRAS SOCIAL MEDIA HTML -INDEX Y CONTACTO-*/
/*PQUEÑO ESTILO PARA SOCIAL MEDIA HTML -INDEX Y CONTACTO-*/
.classMediaCenter {
  justify-content: center;
}

/*API GOOGLE TRANSLATE*/
body .goog-te-banner-frame {
  display: none;
}

body .goog-te-gadget-icon {
  display: none;
}

body .goog-te-menu-value img {
  display: none;
}

body .goog-te-gadget-simple {
  background-color: #14636300;
  border: none;
  font-size: 15px;
}

body .goog-te-gadget-simple .goog-te-menu-value {
  color: #ffffff;
  height: auto;
}

body .goog-te-gadget-simple .goog-te-menu-value:hover {
  color: #ffd000;
}

body .goog-te-gadget-simple .goog-te-menu-value span {
  border-left: none !important;
}

/*MAPA EN HTML -CONTACTO Y A GUSTO TUYO HISTORIA-*/
.googleMapsStype {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 15px;
}

.classReferenceGoogleMaps {
  margin: 15px;
  font-size: 20px;
}

/*VIDE EN HTML -HISTORIA A GUSTO TUYO-*/
.videoStyle {
  margin: 15px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 15px;
}

/*PEQUEÑO ESTILO PARA HTML -MEDIOS DE PAGO-*/
.paymentStyles {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sizeCashImages {
  flex-wrap: wrap;
}

.position {
  color: #fff;
}

.termsCenter {
  justify-content: center;
}

/*FIN DE LAS CLASES EN LOS HTML*/
/*HTML -CONTACTO-*/
.paragraphClass {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: black;
  font-size: 1.5em;
}

/*INICIO ETIQUETAS EN LOS HTML*/
body {
  top: 0 !important;
}

h1 {
  position: relative;
  text-align: center;
  color: #3b3b3b;
  list-style: none;
  font-family: 'Yomogi', cursive;
  font-size: 25px;
}

h1::after, h1::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: #146363;
  top: 0.6em;
}

h1::before {
  left: 350px;
}

h1::after {
  right: 350px;
}

h2 {
  position: relative;
  text-align: center;
  color: #3b3b3b;
  list-style: none;
  font-family: 'Yomogi', cursive;
  font-size: 25px;
}

h2::after, h2::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: #146363;
  top: 0.6em;
}

h2::before {
  left: 350px;
}

h2::after {
  right: 350px;
}

h3 {
  color: steelblue;
  letter-spacing: 3px;
  font-size: 30px;
  margin: 15px;
  padding: 15px;
}

body.dark h3 {
  color: orange;
}

h4 {
  font-family: 'Courier New', Courier, monospace;
  color: crimson;
  padding: 5px;
  margin: 5px;
}

h5 {
  color: grey;
  font-size: 15px;
}

div ul li a {
  color: ivory;
  font-family: "Brush Script MT", cursive;
  text-decoration: none;
}

img {
  border-radius: 15px;
  width: 100px;
  height: auto;
}

th {
  font-family: 'Rock Salt', cursive;
  letter-spacing: 2px;
}

tr td {
  padding-left: 50px;
  font-family: sans-serif;
}

ul li {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

/*FIN ETIQUETAS*/
/*EDICION MODAL EN CALENDARIO*/
.greenBottonStyle {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #2f7920;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  margin-top: 0.4rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*APLICACION DE BREADCRUMB*/
.breadcrumb-item {
  margin-left: 3px;
  margin-top: 20px;
}

.breadcrumb {
  margin-bottom: 5% !important;
  margin-top: 1%;
}

.classColorHome {
  color: darkcyan;
  text-decoration: none;
}

/*APLICANDO BEM*/
/*BEM HTML 'HISTORIA_DE_AGUSTOTUYO'*/
.classParagraphHistory__h4 {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: #131212;
  font-size: 18px;
  text-align: center;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #f58f09;
}

body.dark .classParagraphHistory__h4 {
  color: #ffffff;
}

.imageCorp__img {
  display: flex;
  justify-self: center;
  border: solid 2px #e77f08;
  transition: all 1s;
}

.imageCorp__img:hover {
  transform: scale(2);
}

.classReferenceGoogleMaps_style {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: #000000;
  font-size: 20px;
  text-align: center;
  margin: 0 0 25px;
  margin-bottom: 100px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #c78938;
}

body.dark .classReferenceGoogleMaps_style {
  color: #ffffff;
}

.videoStyle__modified {
  display: flex;
  justify-content: center;
}

/*BEM HTML 'CONTACTO'*/
.container__cards {
  padding: 15px;
  margin: 15px;
}

/*BEM HTML 'MEDIOS DE PAGO'*/
.paymentStyles__center {
  align-self: center;
  color: lime;
}

/*BEM HTML 'NUESTROS PRODUCTOS'*/
.card-body__textColor {
  color: #000000;
  margin: 1rem;
}

body.dark .card-body__textColor {
  color: #ffffff;
}

/*ERROR 404 ESTILO*/
.bg-404 {
  position: fixed;
  width: 100%;
  height: 100%;
}

.bg-404-icon {
  position: fixed;
  margin: 25px;
}

.bg-404-text {
  color: #146363;
  font-style: italic;
  position: fixed;
  font-size: 35px;
  margin-top: 200px;
  margin-left: 50px;
}

.bg-404-button {
  background-color: #146363 !important;
  position: fixed;
  margin-top: 50px;
  margin-left: 150px;
}

.bg-404-error > img {
  width: 300px;
  height: 300px;
  margin-left: 95rem;
}

/*SWITCH DARK MODE*/
.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: block;
  background: none;
  color: #fff;
}
