/*MEDIA QUERY MAX-WIDTH 1580px*/
@media screen and (max-width: 1580px) {
    nav {
        ul {
            li {
                a {
                    font-size: .8em;
                }
            }
        }
    }
    h1::before, h1::after  {
        display: none;
    }
    h2::before, h2::after {
        display: none;
    }
}

/*MEDIA QUERY MIN-WIDTH 1280px*/
@media screen and (min-width: 1280px) {
    nav {
        input {
            display: none;
        }
        & > span {
            display: none;
        }
    }
}

/*MEDIA QUERY MAX-WIDTH 1280px*/
@media screen and (max-width: 1280px) {
    header {
        nav {
            input {
                display: block;
                opacity: 0;
                width: 40px;
                height: 32px;
                position: absolute;
                top: 25px;
                left: 40px;            
                cursor: pointer;
                z-index: 2; /* and place it over the hamburger */    
                &:checked ~ .navMenu {
                    display: flex;
                }
                &:checked ~ span {
                    opacity: 1;
                    transform: rotate(45deg) translate(-2px, -1px);
                    background: #232323;
                }
                &:checked ~ span:nth-last-child(3) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }
                &:checked ~ span:nth-last-child(2) {
                    transform: rotate(-45deg) translate(0, -1px);
                }
                &:checked ~ ul {
                    transform: none;
                }
                }
                .hamb-line {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                margin-left: 20px;
                background: #232323;
                border-radius: 3px;
                z-index: 1;
                transform-origin: 4px 0px;                
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            opacity 0.55s ease;    
                    &:first-child {
                        transform-origin: 0% 0%;
                    }
                    &:nth-last-child(2) {
                        transform-origin: 0% 100%;
                    }
                }
                .navMenu  {
                    display: none;
                    flex-direction: column;
                    & > li {
                        width: 100%;
                        justify-content: flex-start;
                        a{
                            width: 100%;
                        }
                        ul {
                            position: unset;
                            width: auto;
                            li:hover {
                                ul {
                                    display: none;
                                }
                            }
                        }
                    }
                div {
                    width: 100%;
                }
            }
        }
    }
}

/*MEDIA QUERY MIN-WIDTH 1200px*/
@media screen and (min-width: 1200px){
    h1, .h1 {
        font-size: 2.5rem !important;
    }
}

/*MEDIA QUERY MAX-WIDTH 480px*/
@media screen and (max-width: 480px) {
    h3 {
        display: none;
    }
    header nav .navMenu div {
        display: none;
    }
    h1, h2 {
        margin-left: 20%;
    }
    .imageCorp {
        display: flex !important;
        flex-wrap: wrap;
        column-gap: 5%;
        row-gap: 5%;
        border: none !important;
        .imageCorp__img {
            width: 200px;
            display: flex;
            justify-content: center;
            height: 130px;
            & > img {
                margin-top: 3%;
                margin-bottom: 3%;
            }
        }
    }
    .googleMapsStype {
        display: flex;
        justify-content: center;
    }
    .videoStyle video {
        width: 400px;
        max-width: 100%;
    }
    #imgSection1, #imgSection2, #imgSection3, #imgSection5, #imgSection6, #imgSection7, #imgSection8, #imgSection9 {
        background-image: none !important;
    }
    #logoCompany { 
        max-width: 100%;
    }
    #flexLogoCompany {
        margin: 0px !important;
    }
    .classCalendar {
        width: 500px;
        max-width: 100%;
    }
    .referenciaCalendario {
        margin: 0px;
        padding: 0px;
    }
    .classImagesSalmueras, .classImageEscabeche {
        display: flex;
        margin: 5%;
        align-content: center;
        justify-content: center;
    }
    .classImagesAderezos > .transformProductsImg {
        width: 100px;
        max-width: 100%;
        display: flex;
        padding-block: 1%;
    }
    .paymentStyles__center {
        display: none;
    }
    .classCards {
        justify-content: center !important;
    }
    .paragraphClass {
        display: none !important;
    }
    .animationTitles {
        margin-right: 20%;
    }
    .classFeaturedProducts {
        display: block !important;
        padding-left: 10%;
        .transformProductsImg {
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }
    .body-bg-404 .bg-404-text > p {
        width: 250px;
        font-size: 70%;
    }
    .bg-404 {
        height: 50% !important;
        margin-top: 5%;
    }
    .classStyleReferences {
        width: 400px;
        max-width: 100%;
    }
    .breadcrumb {
        width: 400px;
        max-width: 100%;
    }
}

/*MEDIA QUERY MIN-WIDTH 425px AND MAX-WIDTH 479px*/
@media screen and (min-width: 425px) and (max-width: 479px) {
    .classFeaturedProducts {
        display: flex !important;
    }
}

/*MEDIA QUERY MIN-WIDTH: 320px AND MAX-WIDTH: 374px*/
@media screen and (min-width: 320px) and (max-width: 374px) {
    .classImagesSalmueras, .classImagesAderezos, .classImageEscabeche {
        margin-top: 5%;
        padding: 5%;
    }
    .classImagesAderezos > .transformProductsImg {
        width: 75px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .carousel.item > active {
        padding-top: 0%;
        margin-top: 0%;
    }
}