/*
BREAKPOINTS PRINCIPALES:

1. 1440px
2. 1024px
3. 768px
4. 425px
5. 375px
6. 320px

*/

/*MEDIA QUERY MIN-WIDTH 1581px*/
@media screen and (min-width: 1581px) {
    .googleMapsStype {
        display: flex;
        justify-content: center;
        width: 600px;
        max-width: 100%;
        margin-left: 22%;
    }
    #imgSection7 {
        background-position-y: 50% !important;
        background-position-x: 90% !important;
    }
}

/*MEDIA QUERY MAX-WIDTH 1580px*/
@media screen and (max-width: 1580px) {
    nav {
        ul {
            li {
                a {
                    font-size: .8em;
                }
            }
        }
    }
    h1::before, h1::after  {
        display: none;
    }
    h2::before, h2::after {
        display: none;
    }
    #imgSection2 {
        background-position-y: 220px !important;
    }
    #imgSection3 {
        background-position-y: 200px !important;
    }
    #imgSection5 {
        background-position-y: 700px !important;
    }
    #imgSection6 {
        background-position-y: 300px !important;
    }
    #imgSection7 {
        background-position-y: 250px !important;
    }
    .googleMapsStype {
        margin-left: 0.5%;
    }
}

/*MEDIA QUERY MIN-WIDTH 1440px AND MAX-WIDTH 1579*/
@media screen and (min-width: 1440px) and (max-width: 1579px) {
    .googleMapsStype {
        display: flex;
        justify-content: center;
        width: 600px;
        max-width: 100%;
        margin-left: 22%;
    }
}

/*MEDIA QUERY MIN-WIDTH 1366px AND MAX-WIDTH 1439px*/
@media screen and (min-width: 1366px) and (max-width: 1439px) {
    .googleMapsStype {
        display: flex;
        justify-content: center;
        width: 600px;
        max-width: 100%;
        margin-left: 22%;
    }
}

/*MEDIA QUERY MIN-WIDTH 1280px*/
@media screen and (min-width: 1280px) {
    nav {
        input {
            display: none;
        }
        & > span {
            display: none;
        }
    }
}

/*MEDIA QUERY MAX-WIDTH 1280px*/
@media screen and (max-width: 1280px) {
    header {
        nav {
            input {
                display: block;
                opacity: 0;
                width: 40px;
                height: 32px;
                position: absolute;
                top: 25px;
                left: 40px;            
                cursor: pointer;
                z-index: 2; /* and place it over the hamburger */    
                &:checked ~ .navMenu {
                    display: flex;
                }
                &:checked ~ span {
                    opacity: 1;
                    transform: rotate(45deg) translate(-2px, -1px);
                    background: #232323;
                }
                &:checked ~ span:nth-last-child(3) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }
                &:checked ~ span:nth-last-child(2) {
                    transform: rotate(-45deg) translate(0, -1px);
                }
                &:checked ~ ul {
                    transform: none;
                }
                }
                .hamb-line {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                margin-left: 20px;
                background: #ffffff;
                border-radius: 3px;
                z-index: 1;
                transform-origin: 4px 0px;                
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            background-color 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            opacity 0.55s ease;    
                    &:first-child {
                        transform-origin: 0% 0%;
                    }
                    &:nth-last-child(2) {
                        transform-origin: 0% 100%;
                    }
                }
                .navMenu  {
                    display: none;
                    flex-direction: column;
                    & > li {
                        width: 100%;
                        justify-content: flex-start;
                        a{
                            width: 100%;
                        }
                        ul {
                            position: unset;
                            width: auto;
                            li:hover {
                                ul {
                                    display: none;
                                }
                            }
                        }
                    }
                div {
                    width: 100%;
                }
            }
        }
    }
}

/*MEDIA QUERY MIN-WIDTH 1200px*/
@media screen and (min-width: 1200px){
    h1, .h1 {
        font-size: 2.5rem !important;
    }
}

/*MEDIA QUERY MAX-WIDTH 1024px*/
@media screen and (max-width: 1024px) {
    #imgSection5 {
        background-position-y: 750px !important;
    }
    #imgSection7 {
        background-position-x: 800px !important;
        background-position-y: 300px !important;
    }
    .videoStyle__modified > video {
        width: 600px;
        max-width: 100%;
        margin-right: 7%;
    }
    #imgSection2 {
        background-position-y: 250px !important;
    }
    #imgSection3 {
        background-position-y: 200px !important;
    }
    .row > .item {
        width: 300px;
        max-width: 100%;
    }
}

/*MEDIA QUERY MIN-WIDTH 1025px*/
@media screen and (min-width: 1025px) {
    .row > .item {
        width: 300px;
        max-width: 100%;
    }
}

/*MEDIA QUERY 'DARK MODE- MIN-WIDTH 672px AND MAX-WIDTH 1023px*/
@media screen and (min-width:672px) and (max-width:1023px) {
    body.dark {
        #imgSection1, #imgSection2, #imgSection3, #imgSection5, #imgSection6, #imgSection7, #imgSection8 {
            background-image: none !important;
        }
    }
    body.dark {
        .googleMapsStype {
            display: flex;
            justify-content: center;
            max-width: 100%;
            padding-left: 1% !important;
        }
    }
}


/*MEDIA QUERY MAX-WIDTH 768px*/
@media screen and (max-width: 768px) {
    #imgSection2 {
        background-position-y: 270px !important;
    }
    #imgSection5 {
        background-position-y: 810px !important;
    }
    #imgSection6 {
        background-position-x: 620px !important;
    }
    #imgSection7 {
        background-position-y: 300px !important;
        background-position-x: 600px !important;
    }
    #imgSection8 {
        background-position-y: 720px !important;
    }
    #imgSection9 {
        background-position-x: 600px !important;
        background-position-y: 690px !important;
    }
    .videoStyle__modified > video {
        width: 500px;
        max-width: 100%;
        margin-right: 7%;
    }
    .paragraphClass {
        margin-left: 3%;
    }
    .row > .item {
        width: 400px;
        max-width: 100%;
    }
    .paymentStyles {
        margin-left: 175px;
    }
    .paymentStyles__center {
        width: 200px;
        max-width: 100%;
    }
    .position {
        margin-right: 170px !important;
    }
}

/*MEDIA QUERY MIN-WIDTH 769px and MAX-WIDTH 879px*/
@media screen and (min-width: 769px) and (max-width: 879px) {
    .sizeCashImages {
        width: 100px;
        max-width: 100%;
        margin-right: 170px;
        display: flex;
        justify-content: center;
        align-content: center;
        .cashImages {
            padding: 15px;
            width: 200px;
        }
    }
}

/*MEDIA QUERY MIN-WIDTH 481px and MAX-WIDTH 671px*/
@media screen and (min-width: 481px) and (max-width: 671px) {
    h1 {
        font-size: 20px !important;
    }
    #logoCompany {
        max-width: 100%;
    }
    #imgSection1, #imgSection2, #imgSection3, #imgSection5, #imgSection6, #imgSection7, #imgSection8, #imgSection9 {
        background-image: none !important;
    }
    .classCalendar {
        width: 500px;
        max-width: 100%;
    }
    .googleMapsStype {
        display: flex;
        justify-content: center;
        max-width: 100%;
        padding-left: 5% !important;
    }
    .paymentStyles__center {
        display: none;
    }
    .sizeCashImages {
        width: 100px;
        max-width: 100%;
        margin-right: 170px;
        display: flex;
        justify-content: center;
        align-content: center;
        .cashImages {
            padding: 15px;
            width: 200px;
        }
    }
}

/*MEDIA QUERY MAX-WIDTH 480px*/
@media screen and (max-width: 480px) {
    h3 {
        display: none;
    }
    header nav .navMenu div {
        display: none;
    }
    h1, h2 {
        margin-left: 20%;
    }
    .imageCorp {
        display: flex !important;
        flex-wrap: wrap;
        column-gap: 5%;
        row-gap: 5%;
        border: none !important;
        .imageCorp__img {
            width: 200px;
            display: flex;
            justify-content: center;
            height: 130px;
            & > img {
                margin-top: 3%;
                margin-bottom: 3%;
            }
        }
    }
    .googleMapsStype {
        display: flex;
        justify-content: center;
        width: 200px;
        max-width: 100%;
        margin-left: 22%;
    }
    .videoStyle video {
        width: 300px;
        max-width: 100%;
        margin-left: 10%;
    }
    #imgSection1, #imgSection2, #imgSection3, #imgSection5, #imgSection6, #imgSection7, #imgSection8, #imgSection9 {
        background-image: none !important;
    }
    #logoCompany {
        max-width: 100%;
    }
    #flexLogoCompany {
        margin: 0px !important;
    }
    .classCalendar {
        width: 500px;
        max-width: 100%;
    }
    .referenciaCalendario {
        margin: 0px;
        padding: 0px;
    }
    .classImagesSalmueras, .classImageEscabeche {
        display: flex;
        margin: 5%;
        align-content: center;
        justify-content: center;
    }
    .classImagesAderezos > .transformProductsImg {
        width: 100px;
        max-width: 100%;
        display: flex;
        padding-block: 1%;
    }
    .paymentStyles__center {
        display: none;
    }
    .classCards {
        justify-content: center !important;
    }
    .paragraphClass {
        display: none !important;
    }
    .animationTitles {
        margin-right: 20%;
    }
    .classFeaturedProducts {
        padding-left: 15%;
        .transformProductsImg {
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }
    .body-bg-404 .bg-404-text > p {
        width: 250px;
        font-size: 70%;
    }
    .bg-404 {
        height: 50% !important;
        margin-top: 5%;
    }
    .classStyleReferences {
        width: 400px;
        max-width: 100%;
        margin-left: 9%;
    }
    .breadcrumb {
        width: 400px;
        max-width: 100%;
    }
    .classMediaImage > img {
        width: 50px;
        height: 50px;
        max-width: 100%;
        margin-top: 11%;
    }
    .sizeCashImages {
        width: 100px;
        max-width: 100%;
        margin-right: 400px;
    }
    .classParagraphHistory {
        margin-left: 3%;
    }
    .cardTransfBankInfo {
        margin-left: 5% !important;
    }
}

/*MEDIA QUERY MIN-WIDTH 425px AND MAX-WIDTH 479px*/
@media screen and (min-width: 425px) and (max-width: 479px) {
    .classFeaturedProducts {
        display: flex !important;
        padding-right: 15%;
    }
    .classParagraphHistory {
        margin-left: 5%;
    }
    .classReferenceGoogleMaps > .classReferenceGoogleMaps_style {
        margin-left: 3%;
    }
}

/*MEDIA QUERY MIN-WIDTH: 320px AND MAX-WIDTH: 374px*/
@media screen and (min-width: 320px) and (max-width: 374px) {
    .classImagesSalmueras, .classImagesAderezos, .classImageEscabeche {
        margin-top: 5%;
        padding: 5%;
    }
    .classImagesAderezos > .transformProductsImg {
        width: 75px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .carousel.item > active {
        padding-top: 0%;
        margin-top: 0%;
    }
    .googleMapsStype {
        width: 100px;
        max-width: 100%;
        margin-left: 35%;
    }
    .videoStyle video {
        margin-left: 15%;
    }
    .sizeCashImages {
        width: 100px;
        max-width: 100%;
        margin-right: 170px;
        display: flex;
        justify-content: center;
        align-content: center;
        .cashImages {
            padding: 15px;
            width: 200px;
        }
    }
}