/*SE APLICO SENCILLAMENTE 'MAPS' SOLO SOBRE EL FOOTER HTML COMO PRUEBA A EVALUAR*/

$services: (
    color-text-footer: rgb(255, 255, 255)
);

@each $style, $color-text-footer in $services {
    .class--#{$style}{
        color: $color-text-footer;
    }
}

$fs-test: (
    light: #ccc
);

.class--color-text-footer {
    @if map-has-key($fs-test, color) {
        font-size: 1000px;
    } @else {
        font-size: 20px;
    }
}
