/*SE APLICO SENCILLAMENTE 'MAPS' SOLO SOBRE EL FOOTER HTML COMO PRUEBA A EVALUAR*/

$services: (
    color-text-footer: rgb(255, 255, 255)
);

@each $style, $color-text-footer in $services {
    .class--#{$style}{
        color: $color-text-footer;
    }
}

$fs-test: (
    light: #ccc
);

.class--color-text-footer {
    @if map-has-key($fs-test, color) {
        font-size: 1000px;
    } @else {
        font-size: 20px;
    }
}

/*SE APLICA RESPONSIVE WEB DESIGN AL PROYECTO*/

$breakpoints: (
    sm: 480px,
    md: 768px,
    lg: 1024px
);

@mixin mobile-first($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @warn "El valor '#{ $breakpoint }' no ha sido declarado como breakpoint";
    }
}

body {
    @include mobile-first(sm) {
        .goog-te-gadget-simple {
            display: none;
        }
        h1::before, h1::after {
            display: none;            
        }
        h2::before, h2::after {
            display: none;            
        }
        .footer-dark {
            width: 100%;
            height: auto;
            padding-top: 0%;
            .row img {
                margin-top: 10%;
            }
        }
        #imgSection3 {
            background-position-x: center;
            background-position-y: 25%;
        }
        #imgSection2 {
            background-position-x: center;
            background-position-y: 10%;
        }
        #imgSection1 {
            background-position-x: center;
            background-position-y: 30%;
        }
        .classCalendar {
            width: 100%;
        }
        #logoCompany {
            margin-right: 15%;
        }
    }
}

body {
    @include mobile-first(md) {
        .goog-te-gadget-simple {
            display: none;
        }
        h1::before, h1::after {
            display: none;            
        }
        h2::before, h2::after {
            display: none;            
        }
        .footer-dark {
            width: 100%;
            height: auto;
            padding-top: 0%;
            .row img {
                margin-top: 10%;
            }
        }
        #imgSection3 {
            background-position-x: center;
            background-position-y: 20%;
            background-size: 15%;
        }
        #imgSection2 {
            background-position-x: center;
            background-position-y: 10%;
            background-size: 10%;
        }
        #imgSection1 {
            background-position-x: center;
            background-position-y: 28%;
            background-size: 9%;
        }
        .classCalendar {
            width: 100%;
        }
        #logoCompany {
            margin-right: 15%;
        }
    }
}

body {
    @include mobile-first(lg) {
        .goog-te-gadget-simple {
            display: none;
        }
        h1::before, h1::after {
            display: none;            
        }
        h2::before, h2::after {
            display: none;            
        }
        .footer-dark {
            width: 100%;
            height: auto;
            padding-top: 0%;
            .row img {
                margin-top: 10%;
            }
        }
        .classCalendar {
            width: 100%;
        }
        .col-md-3 {
            width: 50%;
        }
        #imgSection3 {
            background-position-x: center;
            background-position-y: 20%;
            background-size: 8%;
        }
        #imgSection2 {
            background-position-x: center;
            background-position-y: 10%;
            background-size: 5%;
        }
        #imgSection1 {
            background-position-x: center;
            background-position-y: 28%;
            background-size: 5%;
        }
        #logoCompany {
            margin-right: 15%;
        }        
    }
}