/*REFERENCIA GOOGLE MAPS*/
@mixin reference {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #000000; 
    font-size: 20px; 
    text-align: center; 
    margin: 0 0 25px; 
    margin-bottom: 100px;
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #c78938;
}

/*H1 Y H2*/
@mixin titles {
    position: relative;
    text-align: center;
    color: rgb(59, 59, 59);
    list-style: none;        
    font-family: 'Yomogi', cursive;
    font-size: 25px;
}

/*IMAGENES 'QUIENES SOMOS'*/
@mixin pictures {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(4, 200px);
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    border: solid 2px rgb(231, 127, 8);
    margin-bottom: 150px;
    padding: 15px;
}

@mixin pictures_lvl_2 {
    display: flex;
    justify-self: center;
    border: solid 2px rgb(231, 127, 8);
    transition: all 1s;
}

/*IMAGENES EN 'SECTION' DENTRO DE LOS DISTINTOS HTML*/

@mixin img-sections ($bg-size, $mg-right) {
    background-size: $bg-size;
    margin-right: $mg-right;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: right;
}
