/*REFERENCIA GOOGLE MAPS*/
@mixin reference {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #bd6b00; 
    font-size: 20px; 
    font-weight: 400; 
    text-align: center; 
    background: radial-gradient(circle, rgba(20,99,99,1) 67%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #c78938;
}

/*H1 Y H2*/
@mixin titles {
    position: relative;
    text-align: center;
    color: rgb(206, 199, 179);
    list-style: none;        
    font-family: 'Yomogi', cursive;
    font-size: 25px;
}

/*IMAGENES 'QUIENES SOMOS'*/
@mixin pictures {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(4, 200px);
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    border: solid 2px rgb(231, 127, 8);
    margin: 15px;
    padding: 15px;
}

@mixin pictures_lvl_2 {
    display: flex;
    justify-self: center;
    border: solid 2px rgb(231, 127, 8);
    transition: all 1s;
}