@import 'maps';
@import 'mixin';
@import 'extends';

/*Seleccion universal con asterisco*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*INICIO MENU DE NAVEGACION -ESTILOS GENERALES- */
nav {
    ul {
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
}

nav {
    li {
        line-height: 3rem;
        position: relative;
    }
    
}

.navMenu {
    ul {
        position: absolute;
    }
}

nav {
    a {
        color: rgb(238, 238, 238);
        display: block;
        padding: 0 2.5em;
        text-decoration: none;
        transition: .4s;
        &:hover {
            color: rgb(255, 208, 0);
        }
    }
}

nav {
    a:hover {
        background: rgba(0, 0, 0, .5);
    }
}

/*PRIMER NIVEL MENU DESPLEGABLE*/
.navMenu {
    background: linear-gradient(90deg, rgba(20,99,99,1) 0%, rgba(20,99,99,0.742734593837535) 47%, rgba(20,99,99,0.5550595238095238) 100%);
    display: table;
    width: 100%;
    height: 200px;
    & > li {
        float: left;
    }
    &:ul {
        position: absolute;
    }
}


/*SEGUNDO NIVEL MENU DESPLEGABLE*/
nav {
    li {
        li {
            background: linear-gradient(90deg, rgba(20,99,99,1) 0%, rgba(20,99,99,0.742734593837535) 47%, rgba(20,99,99,0.5550595238095238) 100%);
            max-height: 0;
            overflow: hidden;
            transition: all .5s;
            width: 200px;
        }
    }
    li:hover > {
        ul > {
            li {
                max-height: 500px;
                overflow: visible;
            }
        }
    }
}
.navMenu > {
    li > {
        ul {
            top: 100%;
        }
    }
}

/*TERCER NIVEL MENU DESPLEGABLE*/
.navMenu {
    ul {
        ul {
            left: 100%;
            top: 0;
        }
    }
} 
/*FIN MENU DE NAVEGACION*/

/*COMIENZA SECCION IDs*/

/*COLOR DE FONDO PARA LOS HTML*/
#backgroundWeb {
    background-color: beige;
    width: 100%;
    height: 100%;
}

/*LOGO EMPRESA*/
#logoCompany {
    border-radius: 15px;
    height: 250px; 
    width: 250px;
    text-align: center;        
}

#flexLogoCompany {
    display: flex;
    justify-content: center;
    margin: 75px;
    padding: 75px;
}

/*PIE DE PAGINA -FOOTER-*/
.footer-dark {
    height: 450px;
    padding-top: 15px;
    color:#000000;
    background: linear-gradient(90deg, rgba(20,99,99,1) 0%, rgba(20,99,99,0.742734593837535) 47%, rgba(20,99,99,0.5550595238095238) 100%);
}

.footer-dark {
    h3 {
        margin-top:0;
        margin-bottom:12px;
        font-size:20px;
        display: flex;
        justify-content: center;
    }
}

.footer-dark {
    ul {
        padding:0;
        list-style:none;
        line-height:1.6;
        font-size:18px;
        margin-bottom:0;
    }
}

.footer-dark {
    ul {
        a {
            text-decoration:none;
            opacity:0.6;
        }
    }
}

.footer-dark {
    ul {
        a:hover {
            opacity:0.8;
        }
    }
}

.footer-dark {
    .item {
        .text {
            margin-bottom:36px;
        }
    }
}

.footer-dark {
    .item {
        .text {
            p {
                opacity:0.6;
                margin-bottom:0;
                color: #ffffff;
            }
        }
    }
}

.footer-dark {
    .item {
        .social {
            text-align:center;
            margin-top: 75px;
        }
    }
}

.footer-dark {
    .item {
        .social > {
            a {
                font-size:20px;
                width:36px;
                height:36px;
                line-height:36px;
                display:inline-block;
                text-align:center;
                border-radius:50%;
                box-shadow:0 0 0 1px rgba(255,255,255,0.4);
                margin:0 8px;
                color:#fff;
                opacity:0.75;
            } 
        }
    }
}

.footer-dark {
    .copyright {
        text-align:center;
        padding-top:24px;
        opacity:0.3;
        font-size:18px;
        margin-bottom:0;
    }
}

.classImgFooter {
    width: 25px;
}

.classImgFooter-Icons {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    img {
        margin-top: 75px;
    }
}

/*BORDES DE LAS TABLAS EN HTML 'NUESTROS PRODUCTOS' Y HTML 'CONTACTO'*/
#borderTables {
    border-top: solid 5px rgb(231, 127, 8);
    border-right: solid 10px rgb(231, 127, 8);
    border-bottom: solid 7px rgb(231, 127, 8);
    border-left: solid 12px rgb(231, 127, 8);
}

/*SECCIONES -SECTIONS- DE LOS HTML*/
/*SECTION 1 AL 3 CORRESPONDEN HTML INDEX*/
#imgSection1 {
    background-image: url(../images/imagen_secciones/business-text-calendar-min.png);    
    @include img-sections (10%, 25px);
}

#imgSection2 {
    background-image: url(../images/imagen_secciones/social-media-web-design-min.png);
    @include img-sections (15%, 30px);
}

/*SECTION 3 HTML 'NUESTROS PRODUCTOS' CON INDEX*/
#imgSection3 {
    background-image: url(../images/imagen_secciones/imagen_condimentos-min.png);
    @include img-sections (20%, 15px);
}

/*SECTION 5 AL 7 CORRESPONDE HTML 'HISTORIA DE A GUSTO TUYO'*/
#imgSection5 {
    background-image: url(../images/imagen_secciones/imagen_historia-min.png);
    @include img-sections (25%, 20px);
    background-position-x: center;
}

#imgSection6 {
    background-image: url(../images/imagen_secciones/imagen_mapa-min.png);
    @include img-sections (20%, 15px);   
}

#imgSection7 {
    background-image: url(../images/imagen_secciones/imagen_video-min.png);
    @include img-sections (25%, 15px);
}

/*SECTION 8 CORRESPONDE HTML 'MEDIOS DE PAGO'*/
#imgSection8 {
    background-image: url(../images/imagen_secciones/medios_de_pago-min.png);
    @include img-sections (25%, 15px);
}

/*SECTION 9 CORRESPONDE HTML 'CONTACTO'*/
#imgSection9 {
    background-image: url(../images/imagen_secciones/imagen_contactos-min.png);
    @include img-sections (15%, 15px);
    background-position: center;
}
/*FIN SECCIONES (SECTIONS) HTML*/

/*FIN SECCION IDs*/

/*COMIENZO DE LAS CLASES HTML*/
.classCards {
    display: flex;
    justify-content: space-between;
}

.classCardSpecials > {
    img {
        width: 105px;
        height: auto;
    } 
}

.card {
    align-self: center;
    align-items: center;
    background-color: rgb(255, 255, 255) !important;
    margin: 75px;
    padding: 75px;
    &-text {
        margin: 1rem;
    }
    &-title {
        margin: 1rem;
    }
    &-title {
        &-header {
            color: rgb(0, 0, 0);
        } 
    }
    &-group {
        margin-bottom: 50px;
    }
}

.cardTransfBankInfo {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size: 18px;
    color: #383636; 
    font-weight: 400; 
    text-align: center; 
    background: #cfbe88; 
    margin: 0 0 25px; 
    overflow: hidden;
    margin-top: 15px;
}

.imgCarousel {
    justify-content: center;
    width: 200px !important;
}

/*HTML 'NUESTROS PRODUCTOS'*/

.classImagesSalmueras {
    @extend %imagenes-aderezos;
}

.classImagnesAderezos {
    @extend %imagenes-aderezos;
}

.classImageEscabeche {
    @extend %imagenes-aderezos;
}

.carousel-control-prev-icon {
    position: relative;
    right: 50px;
}

.carousel-control-next-icon {
    position: relative;
    left: 50px;
}

/*FIN HTML 'NUESTROS PRODUCTOS*/

/*PRODUCTOS DESTACADOS HTML -INDEX-*/
.classFeaturedProducts {
    display: flex;
    align-items: center;
    margin-right: 100px;
    justify-content: space-evenly;
    margin: 75px;
}

/*INICIO CALENDARIO CON GRID HTML -INDEX-*/
.classCalendar {    
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    width: 500px;
    margin: 0 auto;
}

.classStartDay {
    grid-column: 5;
}

.classOrderList > {
    li {
        text-align: right;
    } 
}

.classWeekday {
    background: #146363;
    text-align: center;
    color: rgb(255, 255, 255);
}

.classOffDay {
    background: #3a9377;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

.classOffDayReference {
    background: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(48,148,172,1) 57%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-size: auto;
    color: darkgreen;
    margin: 5px;
}

.classClosed {    
    background: #423c3c;
    font-style: italic;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.classClosedReference {    
    background: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(34,46,48,1) 57%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-size: auto;
    font-style: italic;
    color: darkred;
    margin: 5px;
}

.classStyleReferences { 
    width: 400px;
}

.classCalendarMonthTitle {
    text-align: center;
    margin-bottom: 2rem;
    margin: 75px;
    color: olive;
    font-size: 30px;
}

.classTitleReferences {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: olive;
    margin-top: 15px;
}
/*FIN CALENDARIO CON GRID HTML -INDEX-*/

/*HTML CONTACTO*/
#exampleFormControlTextarea1 {
    height: 250px;
}

.container {
    margin-bottom: 100px;
    margin-top: 100px;
}

.input-group {
    margin-top: 15px;
}

.mb-3 {
    padding-top: 5px;
}

/*INICIO TRANSFORMACIONES*/
/*APLICADO A SOCIAL MEDIA*/
.transformLogosSocialMedia:hover {
    border: 2px solid black;
    transform: translate(3px, 2px);
    transition: all 0.5s;
}

.transformInstagramNameColor:hover {
    color: rgb(201, 34, 34);
}

.transformFacebookNameColor:hover {
    color: rgb(226, 226, 226);
}

.transformWhatsappNameColor:hover {
    color: rgb(11, 173, 19);
}

/*APLICADO A IMAGENES PRODUCTOS*/
.transformProductsImg:hover {
    transform: rotate(45deg);
}

/*APLICADO REFERENCIA CALENDARIO*/
.transformRefCalendar:hover {
    transform: scale(1.2,1.2);
}

/*APLICANDO INPUT FOCUS DENTRO DE LA TABLA CONTACTOS*/
input:focus {
    width: 200px;
    font-size: 20px;
}
/*FIN TRANSFORMACIONES*/

/*INICIO ANIMACIONES*/
.animationTitles {
    animation-duration: 5s;
    animation-name: animationTitles;
}

@keyframes animationTitles {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animationPopUp {
    animation-duration: 2s;
    animation-name: animationPopUp;
}

@keyframes animationPopUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*FIN ANIMACIONES*/

/*IMAGENES HTML -MEDIOS DE PAGO-*/
.cashImages {
    @extend %image-payments;    
}

/*IMAGEN LUGARES HTML -HISTORIA A GUSTO TUYO-*/
.imageCorp {
    @include pictures;
}

.classParagraphHistory {
    margin-top: 100px;
    margin-bottom: 75px;
    padding: 10px;
}

/*LETRAS SOCIAL MEDIA HTML -INDEX Y CONTACTO-*/
.letterSocialMedia {    
    @extend %social-media-letters-style;
}

/*PQUEÑO ESTILO PARA SOCIAL MEDIA HTML -INDEX Y CONTACTO-*/
.socialMediaStyle {
    @extend %social-media-style;       
}

.classMediaCenter {
    justify-content: center;
}

.classMediaImage {
    @extend %social-media-image;
}

/*API GOOGLE TRANSLATE*/

body {
    top: 0 !important;
        .goog-te-banner-frame {
            display: none;
        }
        .goog-te-gadget-icon{
            display:none;
        }
        .goog-te-menu-value img{
            display: none;
        }
        .goog-te-gadget-simple{
            background-color: #14636300;
            border: none;         
            font-size: 15px;
            padding-bottom: 0px;
            padding-top: 0px;
        }
        .goog-te-gadget-simple .goog-te-menu-value{
            color: #ffffff;
            width: 120px;
            height: auto;
            padding: 0px 0px;
            margin: 0px 0px;
            &:hover {
                color: rgb(255, 208, 0);
            }
        }
        .goog-te-gadget-simple .goog-te-menu-value span {
            border-left: none !important;
        }
}

/*MAPA EN HTML -CONTACTO Y A GUSTO TUYO HISTORIA-*/
.googleMapsStype {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 15px;    
}

.classReferenceGoogleMaps {
    margin: 15px;
    font-size: 20px;
}

/*VIDE EN HTML -HISTORIA A GUSTO TUYO-*/
.videoStyle {
    margin: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 15px;
}

/*PEQUEÑO ESTILO PARA HTML -MEDIOS DE PAGO-*/
.paymentStyles {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.termsCenter {
    justify-content: center;
}

/*FIN DE LAS CLASES EN LOS HTML*/

/*HTML -CONTACTO-*/
.paragraphClass {
    display: flex;
    justify-content: center;
    margin-top: 50px; 
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}

/*INICIO ETIQUETAS EN LOS HTML*/

body {
    top: 0 !important;
}

h1 {
    @include titles;
}

h1::after, h1::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #146363;
    top: 0.6em;
}

h1::before {
    left: 350px;
}

h1::after {
    right: 350px;
}

h2 {
    @include titles;
}

h2::after, h2::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #146363;
    top: 0.6em;
}

h2::before {
    left: 350px;
}

h2::after {
    right: 350px;
}

h3 {
    color: rgb(255, 208, 0);
    letter-spacing: 3px;
    font-size: 30px;
    margin: 15px;
    padding: 15px;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
    padding: 5px;
    margin: 5px;
}

h5 {
    color: grey;
    font-size: 15px;    
}

div {   
    ul {
        li {
            a {
                color: ivory;           
                font-family: "Brush Script MT", cursive;
                text-decoration: none;
            }
        }
    }
}

img {
    border-radius: 15px;
    width: 100px; height: auto;
}

th {
    font-family: 'Rock Salt', cursive;
    letter-spacing: 2px;
}

tr {
    td {
        padding-left: 50px; 
        font-family: sans-serif; 
    }  
}

ul {
    li {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }
}

/*FIN ETIQUETAS*/

/*EDICION MODAL EN CALENDARIO*/

.greenBottonStyle {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(47, 121, 32);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*APLICACION DE BREADCRUMB*/
.breadcrumb-item {
    margin-left: 3px;
}

.classColorHome {
    color: darkcyan;
}

/*APLICANDO BEM*/

/*BEM HTML 'HISTORIA_DE_AGUSTOTUYO'*/
.classParagraphHistory__h4 {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #131212; 
    font-size: 18px; 
    text-align: center; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #f58f09;
}

.imageCorp__img {
    @include pictures_lvl_2;
}

.imageCorp__img:hover {
    transform: scale(2);
}

.classReferenceGoogleMaps_style {
    @include reference;
}

.videoStyle__modified {
    display: flex;
    justify-content: center;
}

/*BEM HTML 'CONTACTO'*/

.container__cards {
    padding: 15px;
    margin: 15px;
}

/*BEM HTML 'MEDIOS DE PAGO'*/

.paymentStyles__center {
    align-self: center;
    color: lime;
}

/*BEM HTML 'NUESTROS PRODUCTOS'*/

.card-body__textColor {
    color: #000000;
    margin: 1rem;
}

/*ERROR 404 ESTILO*/

.bg-404 {
    position: fixed;
    width: 100%;
    height: 100%;
}

.bg-404-icon {
    position: fixed;
    margin: 25px;
}

.bg-404-text {
    color: #146363;
    font-style: italic;
    position: fixed;
    font-size: 35px;
    margin-top: 200px;
    margin-left: 50px;
}

.bg-404-button {
    background-color: #146363 !important;
    position: fixed;
    margin-top: 50px;
    margin-left: 150px;
}

.bg-404-error > {
    img {
        width: 300px;
        height: 300px;    
        margin-left: 95rem;
    } 
}